.section1 {
    background-image: url("../../../img/screens/filosofia/background-filosofia.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }