.bg-social-media {
  background-image: url("../../../../img/screens/servicios/social-media/background/background-social-media.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.rounded-20 {
  border-radius: 2rem;
}





.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet-active {
    background: white !important;
}

.swiper-pagination-bullet {
    background: white !important;
}