.section-contacto {
    background-image: url("../../../img/screens/contacto/background-contacto.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}