.section1 {
  background-image: url("../../../img/screens/home/background-home.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.section2 {
  background-image: url("../../../img/screens/home/background-home-2.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}


swiper-container::part(bullet-active) {
  background-color: white;
}

swiper-container::part(bullet) {
  background-color: white;
}


swiper-container::part(button-prev){
  color: white;
  height: 1rem;
}

swiper-container::part(button-next){
  color: white;
  height: 1rem;
}


/* --------------- Estilos empezando en lg ----------- */
@media (min-width: 992px) {

  /* Tamaño de fuentes: */
  
  .font-size-1{
      font-size: 4rem;
  }

  swiper-container::part(button-prev){
    height: 3rem;
  }
  
  swiper-container::part(button-next){
    height: 3rem;
  }
  
}
