.section1 {
  background-image: url("../../../img/screens/home/background-home.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.section2 {
  background-image: url("../../../img/screens/home/background-home-2.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.swiper-pagination-bullet {
  background: rgb(255, 255, 255);
}

.swiper-pagination-bullet-active {
  background: white;
}

.swiper-button-prev,
.swiper-button-next {
  color: white;
  height: 1rem;
}

.menuServices{
  width: 600px;
  background-color: rgb(0, 0, 0, 85%);
  position: fixed;
  top: 3rem;
  right: 4rem;
  text-align: center;
  border-radius: 2rem;
  color: white;
  
}

.itemService:hover{
  background-color: rgb(255, 255, 255, 10%);
  border-radius: 1rem;
}


/* --------------- Estilos empezando en lg ----------- */
@media (min-width: 992px) {
  /* Tamaño de fuentes: */

  .font-size-1 {
    font-size: 4rem;
  }

  .swiper-button-prev,
  .swiper-button-next {
    color: white;
    height: 3rem;
  }
}
